language: go

services:
  - mysql

before_script:
  - echo "127.0.0.1	docker" >> /etc/hosts
  - sleep 15
  - mysql -u root < sql/initdb.sql
  - mysql -u root < sql/queue.sql

install:
  - go get github.com/go-sql-driver/mysql 
