language: go

services:
  - mysql

addons:
  hosts:
    - docker

before_script:
  - mkdir -p ${TRAVIS_BUILD_DIR}/test/fs/
  - sleep 5
  - mysql -u root < sql/initdb.sql
  - mysql -u root < sql/queue.sql

install:
  - go get github.com/go-sql-driver/mysql 
