language: go

services:
  - mysql

addons:
  hosts:
    - docker

before_script:
  - sleep 15
  - mysql -u root < sql/initdb.sql
  - mysql -u root < sql/queue.sql

install:
  - go get github.com/go-sql-driver/mysql 
